.about {
  &__top__img {
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      margin-top: 20px;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;

    &__left {
      background-color: white;
      padding: 20px;

      &-title {
        font-size: 39px;
        font-weight: 700;
        line-height: 40.05px;
        text-align: left;
        color: green;
        padding-bottom: 20px;
      }

      &-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: left;
        padding: 5px 0px;
      }
    }

    &__right {
      img {
        width: 100%;
        height: 100%;
      }
    }

    @media (max-width: 1055px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media (max-width: 455px) {
      &__left {
        &-title {
          font-size: 29px;
        }

        &-text {
          font-size: 16px;
          display: -webkit-box;
          line-clamp: 4;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 4;
          overflow: hidden;
        }
      }
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 500px 1fr;
    margin-top: 20px;

    &__left {
      img {
        width: 100%;
      }
    }

    &__right {
      display: grid;
      grid-template-columns: 1fr 300px;
      align-items: center;
      background: linear-gradient(261.76deg, #2fa365 1.82%, #15545c 100%);
    }

    &__right-info {
      padding: 20px;
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }

    @media (max-width: 1300px) {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 20px;
    }
    @media (max-width: 700px) {
      &__right {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        &-info {
          p {
            display: -webkit-box;
            line-clamp: 7;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 7;
            overflow: hidden;
          }
        }
      }
      &__right-img {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  @media (max-width: 500px) {
    &__right {
      &-info {
        p {
          font-size: 10px;
        }
      }
    }
  }

  &__bottom__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }

  &__bottom__card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    &__top {
      display: flex;
      align-items: center;
      gap: 10px;
      h3 {
        font-size: 26px;
        font-weight: 700;
        line-height: 23.88px;
        text-align: left;
      }
    }

    p {
      font-size: 18px;
      font-weight: 400;
      line-height: 24.93px;
      text-align: left;
      padding-left: 110px;
    }
  }

  &__imgs {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }

  @media (max-width: 950px) {
    &__bottom__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      margin-top: 20px;
    }
  }
  @media (max-width: 450px) {
    &__bottom__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 20px;
      margin-top: 20px;
    }
    &__bottom__card__top {
      display: flex;
      align-items: center;
      gap: 10px;
      h3 {
        font-size: 16px;
        font-weight: 700;
        line-height: 23.88px;
        text-align: left;
      }
    }
    &__bottom__card__top {
      img {
        width: 50px;
      }
    }
    &__bottom__card {
      padding: 10px;
      p {
        font-size: 14px;
        line-height: 18px;
        padding-left: 60px;
        display: -webkit-box;
        line-clamp: 4;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    }
  }
}
