.about {
  &__top__img {
    img {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 20px;

    &__left {
      background-color: white;
      padding: 20px;

      &-title {
        font-family: Clear Sans;
        font-size: 39px;
        font-weight: 700;
        line-height: 40.05px;
        text-align: left;
        color: green;
        padding-bottom: 20px;
      }

      &-text {
        font-family: Clear Sans;
        font-size: 18px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: left;
        padding: 10px 0px;
      }
    }

    &__right {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__box {
    display: grid;
    grid-template-columns: 500px 1fr;
    margin-top: 20px;

    &__left {
      img {
        width: 100%;
      }
    }

    &__right {
      display: grid;
      grid-template-columns: 1fr 300px;
      align-items: center;
      background: linear-gradient(261.76deg, #2fa365 1.82%, #15545c 100%);
    }

    &__right-info {
      padding: 20px;
      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24.34px;
        text-align: left;
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  &__bottom__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
  }

  &__bottom__card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    &__top {
      display: flex;
      align-items: center;
      gap: 10px;
      h3 {
        font-family: Clear Sans;
        font-size: 26px;
        font-weight: 700;
        line-height: 23.88px;
        text-align: left;
      }
    }

    p {
      font-family: Clear Sans;
      font-size: 18px;
      font-weight: 400;
      line-height: 24.93px;
      text-align: left;
      padding-left: 110px;
    }
  }

  &__imgs {
    margin-top: 20px;
    img {
      width: 100%;
    }
  }
}
