.product {
  margin-top: 20px;
  margin-bottom: 20px;
  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }

  &__card__btn {
    position: absolute;
    top: -40px;
    right: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.4s;
    button {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      border: none;
      background-color: #aaa2;
      border: 1px solid #aaa5;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    svg {
      font-size: 22px;
    }
  }

  &__card {
    background-color: white;
    border: 1px solid #aaa9;
    box-shadow: 1px 1px 10px #aaa7;
    overflow: hidden;

    &__img {
      position: relative;
      top: 0;
      left: 0;
      img {
        height: 300px;
        object-fit: cover;
        width: 100%;
      }
    }

    &__info {
      padding: 10px;

      &-title {
        font-family: Clear Sans;
        font-size: 18px;
        font-weight: 700;
        line-height: 24.34px;
        text-align: left;
        color: rgba(34, 34, 34, 1);
        padding-bottom: 10px;
      }

      &-text {
        font-family: Clear Sans;
        font-size: 21px;
        font-weight: 700;
        line-height: 23.88px;
        text-align: left;
        color: rgba(0, 127, 0, 1);
      }
    }

    &__info-btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      button {
        padding: 10px 20px;
        border: 1px solid rgba(243, 118, 27, 1);
        color: rgba(243, 118, 27, 1);
        background-color: white;
        transition: 0.6s;
      }

      button:hover {
        background-color: rgba(243, 118, 27, 1);
        color: white;
      }
    }
  }
  &__card:hover &__card__btn {
    top: 10px;
  }
}
